.Main{
    width: 100%;
    height: 90vh;
    background-color: rgb(28, 39, 51);
}

.FakePointer{
    width: 2px;
    background-color: red;
    position: fixed;
    height: 25px;
    
}

textarea{
    opacity: 0;
}