.TextLines{
    width: 100%;
    height: 80vh;
    background-color: rgb(217, 233, 148);
    text-align: left;
}

.FakePointer{
    font-weight: bold;
    color: crimson;
    position: absolute;
    z-index: 10;
}